<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.supertraining">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <permission android:name="com.example.supertraining.providers.provider.READ_WRITE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver
            android:name="com.example.supertraining.broadcast_receiver.BroadCastReceiverTest"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.example.supertraining" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.example.supertraining.broadcast_receiver.AlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.supertraining" />
            </intent-filter>
        </receiver>

        <receiver android:name=".broadcast_receiver.GeofenceBroadcastReceiver"/>

        <provider
            android:name="com.example.supertraining.providers.ContentProviderTest"
            android:authorities="com.example.supertraining.providers.provider"
            android:exported="true"
            android:permission="com.example.supertraining.componenet.provider.READ_WRITE" />

        <service android:name="com.example.supertraining.service.AccessibilityServiceTest"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>
        <service android:name="com.example.supertraining.service.ServiceTest"/>
        <service android:name="com.example.supertraining.service.BackgroundSoundService"/>
        <service android:name="com.example.supertraining.service.BackgroundNarrationService"/>
        <service android:name=".service.BeaconService"/>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="0d9whnfwhe" />
    </application>

</manifest>